.content-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    padding: 20px;

    grid-gap: 40px;
}

.container-card{
    position: relative;
}

.card-hover{
    background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.card{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: relative;
}

.card-info{
    border-top: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
}

.card-name{
    color: #A3A3A3;
    font-size: 16px;
    padding-bottom: 5px;
}

.card-category{
    color: #616161;
    font-size: 18px;
}

.card-buy-blue{
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    z-index: 2;
}

.card-buy-blue img, .card-buy-white img{
    width: 100%;
}

.card-buy-white{
    text-align: end;
    padding: 20px;
    height: 20%;
}


.card-buy-white img{
    height: 40px;
    width: 40px;
}

.card-coins{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-coins span{
    font-size: 36px;
    margin-right: 15px;
}

.card-coins img{
    height: 26px;
    width: 26px;
}

.card-buy{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.card-buy-link{
    background-color: #DADADA;
    border-radius: 30px;
    color: #616161;
    padding: 0px 100px;
    text-decoration: none;
    line-height: 51px;
    border: none;
    cursor: pointer;
}

.container-card:hover .card-hover{
    display: block;
}

.card-hover{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 1s;
}

.card-hover-content{
    height: 100%;
}

.card-buy-info{
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
}

.card-buy-info-coins{
    width: 100%;
}